* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}
.container-fluid {
   width:100%;
   /* background-color: blueviolet; */
}

.web{
   max-height: 100vh;
   /* display: flex;
   flex-direction: column; */
}

.web main {
    height: calc(100vh - 90px);
    background-color: chartreuse;
}

main .sidebar {
    background-color: darkmagenta;
}

main .content {
    background-color: darkseagreen;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.topnav {
    border: 2px black solid;
    position: fixed;
    background-color: gray;
    height: 100px;
    width: 100%;
}

.podcasts {
    background: #000;
    margin-top: 100px;
    height: 100%;

}

.web footer {
    background-color:#312c2c;
    height:90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding:15px;
    display: flex;
    flex-direction: row;
    /* margin-right: 45px; */
   
}

.list-column{
    display: flex;
    flex-direction: column;
    margin-left:15px ;
    margin-top: 5px;
    /* align-items: center;
    justify-content: center; */
}

li .list-row{
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
    align-items: center; 
}

li .list-row i{
    margin-left: 15px;
}

.text-white{
    color:#fff;
    font-weight: bold;
    font-size: 15px;
}

.text-gray{
    color: gray;
    /* font-size: 15px; */
}

