* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

.container-fluid {
   width:100%;
}

.web{
   max-height: 100vh;
}

.web main {
    height: calc(100vh - 90px);
    border: rgb(26, 24, 24)
}

main .sidebar {
    background-color:black;
    height:calc(100vh - 90px);
    /* overflow-y: hidden; */
}

main .content {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.topnav {
    position: fixed;
    background-color: black;
    /* background-color: rgba (22, 26, 46, 0.4); */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-topnav{
    height: 35px;
    width:200px;
    border-radius: 35px;
    border: 2px white solid;
    color:white;
    background-color: black;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 20px;
}

.button-topnav:hover {
    opacity: 0.6;
    border:2px greenyellow solid; 
}

.podcasts {
    background-color: #0c0a0c;
    margin-top: 70px;
    height: 100%;
}

.podcasts .recently-played {
    color:white;
    margin:  15px 15px;
}
[class*="item-"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-row {
    /* display: flex;
    flex-direction: row; */
    margin-top: 15px;
}
.recently-played img{
    width:170px;
    height:170px;
}
.subtitle {
    color: grey;
}
 nav {
     display: flex;
     justify-content: center;
 }

 nav li a{
    text-decoration: none;
    color:gray;
    font-size: 12px;
    font-weight: bolder;
 }

 nav li a:hover{
     border-bottom:2px greenyellow solid; 
 }

 
 .navbar-column ul{
     display: flex;
     flex-direction: column;
 
 }

 .navbar-column li{
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-bottom:5px;
 }

 .navbar-column ul li a, .navbar-column li{
     text-decoration: none;
     color:grey;
 }

 .icon-user{
     font-size: 30px;
     color:white;
 }

 .icon-install-user {
     padding:0;
 }

.navbar-column ul li  a:hover {
     color:white;
}

 .icon-create-playlist i {
     font-size: 45px;
 }

 .navbar-column hr{
     width: 200px;
 }

.navbar-column h4{
    color: white;
}
.navbar-column i {
 margin-right: 15px;
}

footer .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .controls > div{
    margin-left: 15px;
}
.duration-audio{
    display: flex;
    flex-direction: row;
}
footer .controls .duration-audio .eighty-percent-audio{
    width:300px;
    height:4px;
    border-radius: 4px;
    background-color: gray;
    cursor: pointer;
}

footer .controls .duration-audio .twenty-percent-audio {
    width:100px;
    height:4px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
.icon-install-user {
    position: relative;
    top:190px;
}

.icon-install-user span {
    color:white;
    font-weight: bolder;
}

.icons-audio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web footer {
    background-color:#222020;
    height:90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

 ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding:15px;
    display: flex;
    flex-direction: row;
    color:white;
   
}
/* nav ul li, footer ul li, .name-playlist ul li 
{
    margin:5px;
} */
.list-column{
    display: flex;
    flex-direction: column;
    margin-left:10px ;
    margin-top: 5px;
}

li .list-row{
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
    align-items: center; 
}

li .list-row {
    padding-right: 20px;
}

footer i{
    margin-left: 30px;
}

.play{
    font-size: 25px;
}

.text-white{
    font-weight: bold;
    font-size: 15px;
}

.text-gray{
    color: gray;
}

